body {
    text-align: center;
    background-color: #283149;
    font-family: "sofia", serif;
    
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    text-shadow: 3px 0 #DA0463;
    margin: 10% auto;
  }
  
  .w {
    background-color: #76bdf3;
    box-shadow: 10px 5px 5px black; 
    font-family: "Rubik Vinyl", serif;
  }
  
  .a {
    background-color: #18f2d2; 
    box-shadow: 10px 5px 5px black;
    font-family: "Rubik Vinyl", serif;
  }
  
  .s {
    background-color: #88ed63;
    box-shadow: 10px 5px 5px black;
    font-family: "Rubik Vinyl", serif;
  }
  
  .d {
    background-color: #92e3f9;
    box-shadow: 10px 5px 5px black;
    font-family: "Rubik Vinyl", serif;
  }
  
  .j {
    background-color: #edd863;
    box-shadow: 10px 5px 5px black;
    font-family: "Rubik Vinyl", serif;
  }
  
  .k {
    background-color: #63ed9f;
    box-shadow: 10px 5px 5px black;
    font-family: "Rubik Vinyl", serif;
  }
  
  .l {
    background-color: #6375ed;
    box-shadow: 10px 5px 5px black;
    font-family: "Rubik Vinyl", serif;
  }
  
  .set {
    margin: 15% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    line-height:1;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    /*background-color: white;*/
  }
  
  